ul.workshop-list {
  li {
    padding: 8px 0;
  }
}

.mdedit {
  max-width: 800px;
  margin: 16px auto;
  padding: 16px;
  background-color: #f3f3f3;
  border-radius: 16px;
  box-shadow: 0 2px 15px rgba(0,0,0,0.7);
}