ul.workshop-list {
  li {
    padding: 8px 0;
  }
}

.editormd-preview-container {
  img:not(.emoji) {
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin: 0 auto;
  }
}
.editormd-html-preview .emoji, .editormd-preview-container .emoji {
  width: 16px !important;
  height: 16px !important;
}