ul.workshop-list-admin li {
  padding: 8px 0;
}

.editormd-preview-container img:not(.emoji) {
  max-width: 100%;
  max-height: 200px;
  display: block;
  margin: 0 auto;
}

.editormd-html-preview .emoji, .editormd-preview-container .emoji {
  width: 16px !important;
  height: 16px !important;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/assets/hd_processed.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #0bb8a6;
}
a:visited {
  color: #0bb8a6;
}
a:not(.btn):hover {
  color: #0b685f;
}

.error {
  color: #ff6688;
  font-weight: bold;
}

fieldset {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

button:not(.editormd-btn), .btn {
  border-radius: 100px;
  padding: 12px 16px;
  font-size: 1.2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.05s;
  outline: none;
  background: #0bb8a6;
  color: white;
  border: none;
}
button:not(.editormd-btn).small, .btn.small {
  padding: 6px 8px;
  font-size: 1rem;
}
button:not(.editormd-btn):hover, .btn:hover {
  transform: scale(1.03);
}
button:not(.editormd-btn):active:hover, .btn:active:hover {
  transform: scale(0.98);
}
button:not(.editormd-btn).warning, .btn.warning {
  background: #ff6688;
  color: white;
  border: none;
}
button:not(.editormd-btn):disabled, .btn:disabled {
  background: #aaa;
  cursor: default;
  transform: none;
}

input[type=radio].ako-inp {
  margin: 8px;
  width: 24px;
  height: 24px;
  transform: translateY(5px);
}

label.disabled {
  color: grey;
  text-decoration: line-through;
}

label.rare {
  color: #600;
}

input[type=text].ako-inp, input[type=password].ako-inp, input[type=email].ako-inp, input[type=number].ako-inp, input[type=tel].ako-inp {
  display: block;
  width: 100%;
  margin: 16px auto;
  padding: 8px 16px;
  font-size: 1rem;
  border: 2px solid #aaa;
  border-radius: 50px;
  outline: none;
  background: white;
}
input[type=text].ako-inp:focus, input[type=password].ako-inp:focus, input[type=email].ako-inp:focus, input[type=number].ako-inp:focus, input[type=tel].ako-inp:focus {
  border-color: #0bb8a6;
}

textarea {
  display: block;
  width: 100%;
  height: 150px;
  border: 1px solid #aaa;
  padding: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  border-radius: 4px;
}
textarea:focus {
  border-color: #0bb8a6;
}

hr {
  border: none;
  height: 2px;
  background-color: grey;
  margin: 16px 0;
}

.main-wrapper {
  max-width: 700px;
  margin: 16px auto;
  padding: 16px;
  background-color: #f3f3f3;
  border-radius: 16px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.7);
}
@media (max-width: 732px) {
  .main-wrapper {
    margin: 16px;
  }
}
.main-wrapper h1:first-child, .main-wrapper h2:first-child, .main-wrapper h3:first-child {
  margin-top: 0;
}

.markdownbox {
  max-width: 900px;
  margin: 16px auto;
  padding: 32px;
  background-color: #f3f3f3;
  border-radius: 32px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.7);
  overflow-wrap: break-word;
}
@media (max-width: 932px) {
  .markdownbox {
    margin: 16px;
  }
}
@media (max-width: 650px) {
  .markdownbox {
    padding: 16px;
    border-radius: 16px;
  }
}
.markdownbox h1:first-child, .markdownbox h2:first-child, .markdownbox h3:first-child {
  margin-top: 0;
}
.markdownbox img:not(.emoji) {
  max-width: 100%;
  max-height: 200px;
  display: block;
  margin: 0 auto;
}
.markdownbox .emoji {
  width: 13px;
  margin: 0;
  padding: 0;
  transform: scale(1.3);
}
.markdownbox code {
  background: #ddd;
  padding: 0 4px;
  border-radius: 4px;
}
.markdownbox blockquote {
  border-left: 4px solid grey;
  margin: 0;
  padding: 1px 40px;
}
.markdownbox .tablewrapper {
  overflow-x: auto;
  background: linear-gradient(90deg, #f3f3f3 40%, rgba(255, 255, 255, 0)), linear-gradient(90deg, rgba(255, 255, 255, 0), #f3f3f3 60%) 100% 0, radial-gradient(0 50%, farthest-side, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), radial-gradient(100% 50%, farthest-side, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)) 100% 0;
  background: linear-gradient(90deg, #f3f3f3 40%, rgba(255, 255, 255, 0)), linear-gradient(90deg, rgba(255, 255, 255, 0), #f3f3f3 60%) 100% 0, radial-gradient(farthest-side at 0 50%, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)) 100% 0;
  background-repeat: no-repeat;
  background-size: 50px 100%, 50px 100%, 20px 100%, 20px 100%;
  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}

.main-header {
  min-height: 200px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  color: white;
}
.main-header h1 {
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}
.main-header h1:hover {
  transform: scale(1.01);
}
@media (max-width: 600px) {
  .main-header {
    min-height: 140px;
  }
  .main-header h1 {
    font-size: 2rem;
  }
}

.plaintext {
  color: white;
  text-align: center;
}

.center {
  text-align: center;
}

.centered {
  margin: 0 auto;
}

table th {
  padding: 6px 8px;
  background: #ccc;
}
table td {
  border-top: 1px solid grey;
  padding: 6px 8px;
}
table td:not(:last-child) {
  border-right: 1px solid grey;
}
table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.04);
}

.workshop-list h3 {
  font-size: 1rem;
  margin: 0;
}
.workshop-list .host {
  font-style: italic;
  margin-bottom: 4px;
}
.workshop-list .description {
  font-size: 0.9rem;
}

