{% extends "base.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
  
  <div class="markedarea">
    {{ markdownconvert | raw }}
  </div>

  <section style="text-align: center">
    &copy; Leander Berg, 2021. Licensed under <a href="/assets/LICENSE.txt" target="_blank">MIT License</a>.
  </section>
{% endblock %}
