{% extends "base.twig" %}

{% block title %}Home{% endblock %}

{% block content %}

  {% if workshopsopen %}
  <section class="main-wrapper">
    <h2>Workshop-Anmeldung</h2>
    <p>
      Die Workshop-Anmeldung ist geöffnet! Es gibt über 20 Workshops in 2 slots, Ihr könnt also alle etwas passendes finden.
      Aufgrund begrenzter Teilnehmerzahlen solltet Ihr aber entweder schnell oder wenigstens nicht wählerisch sein!
    </p>
    <p class="center">
      <br>
      <a href="/registerworkshops"><button>Zur Anmeldung</button></a>
    </p>
  </section>
  {% endif %}

  <section class="main-wrapper" style="display: none;" id="pushregister">
    <h3>Benachrichtigungen</h3>
    <p>Aktiviere Benachrichtigungen auf dieser Seite, damit du es direkt erfährst, wenn es hier neues gibt.</p>
    <button onclick="activateNotifications()">Benachrichtigungen aktivieren</button>
  </section>

  <section class="markdownbox">
    {{ markdownconvert | raw }}
  </section>

  <section class="plaintext">
    <a href="/login">Admin-Panel</a><br><br>
  </section>

  <section class="plaintext">
    &copy; Leander Berg, 2021. Licensed under <a href="/assets/LICENSE.txt" target="_blank">MIT License</a>.
    <br><br>
  </section>
{% endblock %}

{% block js %}

<script>
(async function () {
  if (('serviceWorker' in navigator) && ('PushManager' in window)) {
    if (Notification.permission != 'granted')
      document.getElementById('pushregister').style.display = 'block'
    else
      await navigator.serviceWorker.register('sw.js')
  }
})()

async function activateNotifications () {
  const permission = await window.Notification.requestPermission()
  if (permission != 'granted') return
  const swreg = await navigator.serviceWorker.register('sw.js')
  document.getElementById('pushregister').style.display = 'none'
}
</script>

{% endblock %}