{% extends "base.twig" %}

{% block title %}Admin{% endblock %}

{% block content %}
  
  <div class="main-wrapper">

    <h1>Admin Login</h1>

    <form action="/login" method="POST">
      <input type="password" name="password" placeholder="password">
      <button>login</button>
    </form>
  </div>
{% endblock %}
